<%= form_tag system_settings_update_path, method: :put, class: "group" do %>
  <p>Manual Override:
  <%= check_box_tag :manual_control, 'manual_control', @manual_control, id: 'override' %>
  <!-- TODO: Put hide and show jquery -->
  <% if @manual_control %>
    <p>Sprinkler:
    <%= check_box_tag :sprinkler_manual_on, :sprinkler_manual_on, @sprinkler_manual_on, class: 'switch', id: 'sprinkler' %>
    <p>Cooling Fan:
    <%= check_box_tag :cooling_manual_on, :cooling_manual_on, @cooling_manual_on, class: 'switch', id: 'cooling_fan' %>
    <p>Exhaust Fan:
    <%= check_box_tag :exhaust_manual_on, :exhaust_manual_on, @exhaust_manual_on, class: 'switch', id: 'exhaust_fan' %>
  <% else %>
    <div class="group">
      <p>Moisture Threshold: <%= @moisture_threshold %></p>
      Change Moisture Sensor Threshold:
      <%= text_field_tag(
        :moisture_threshold,
        params[:moisture_threshold],
        value: @moisture_threshold,
        class: ""
      ) %>
    </div>
    <div class="group">
      <p>Temperature Threshold: <%= @temperature_threshold %></p>
      Change Temperature Sensor Threshold:
      <%= text_field_tag(
        :temperature_threshold,
        params[:temperature_threshold],
        value: @temperature_threshold,
        class: ""
      ) %>
    </div>
    <div class="group">
      <p>Humidity Threshold: <%= @humidity_threshold %></p>
      Change Humidity Sensor Threshold:
      <%= text_field_tag(
        :humidity_threshold,
        params[:humidity_threshold],
        value: @humidity_threshold,
        class: ""
      ) %>
    </div>
    <%= submit_tag('Save Changes') %>
  <% end %>
<% end %>
