<p>
  Current Moisture Sensor Reading  <%= @current_moisture.measurement %> ------ <%= @current_moisture.created_at %>
</p>
<p>
  Current Temperature Sensor Reading  <%= @current_temperature.measurement %> ------ <%= @current_temperature.created_at %>
</p>
<p>
  Current Humidity Sensor Reading  <%= @current_humidity.measurement %> ------ <%= @current_humidity.created_at %>
</p>
