<%= form_for(plant) do |f| %>
<div class="group">
  <%= f.text_field :name %>
  <span class="highlight"></span>
  <span class="bar"></span>
  <%= f.label :name, :id => 'name' %>
</div>
<div class="group">
  <%= f.text_field :moisture_threshold %>
  <span class="highlight"></span>
  <span class="bar"></span>
  <%= f.label :moisture_threshold, :id => 'moisture_threshold' %>
</div>
<div class="group">
  <%= f.text_field :temperature_threshold %>
  <span class="highlight"></span>
  <span class="bar"></span>
  <%= f.label :temperature_threshold, :id => 'temperature_threshold' %>
</div>
<div class="group">
  <%= f.text_field :humidity_threshold %>
  <span class="highlight"></span>
  <span class="bar"></span>
  <%= f.label :humidity_threshold, :id => 'humidity_threshold' %>
</div>

<%= submit_tag "Save", :class => "button buttonBlue" %>

<% end %>
