<div class="group">
  <%= text_field_tag :name %>
  <span class="highlight"></span>
  <span class="bar"></span>
  <%= label_tag :name%>
</div>

<div class="group">
  <%= text_field_tag :moisture_threshold %>
  <span class="highlight"></span>
  <span class="bar"></span>
  <%= label_tag :moisture_threshold%>
</div>

<div class="group">
  <%= text_field_tag :temperature_threshold %>
  <span class="highlight"></span>
  <span class="bar"></span>
  <%= label_tag :temperature_threshold%>
</div>

<div class="group">
  <%= text_field_tag :humidity_threshold %>
  <span class="highlight"></span>
  <span class="bar"></span>
  <%= label_tag :humidity_threshold%>
</div>
